/* global css */
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
   
}
p{
    font-size: 1rem;
}

li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    font-size: 1rem;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

/* nav bar css start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
ul>li>a{
    padding: 18px;
    color: #3A3A3A;
    font-weight: 600;
}
.logo-text{
    color: #3A3A3A;
    font-weight: 700;
}
/* banner css start */
.banner-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 70px;
}
.banner-des{
    color: #3A3A3A;
    font-weight: 600;
    max-width: 500px;
    padding: 15px 0px;
}
.primary-btn{
    padding: 10px 24px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
}
.primary-btn i{
    padding-left: 8px;
}
.banner-image{
    width: 440px;
    height: 414px;
    border: 3px solid var(--brand-purple-100, #F1E4FF);
    border-radius: 75%;
    
}
.banner-image img{
   
    
}